<body>
    <div class="header">
        <div class="header-left" id="logo">
            <ul>
                <li class="logo">DoConnect <i class="fa-solid fa-badge"></i> </li>
            </ul>
        </div>
        <div class="header-right">
            <ul>
                <li class="list"><a routerLink="/userhomepage"><i class="fa-solid fa-house"></i> Dashboard</a></li>
                <li class="list"><a routerLink="/userhomepage/createquestion"><i class="fa-solid fa-question"></i> Ask Question</a></li>
                <li class="list"><a routerLink="/userhomepage/searchquestion"><i class="fa-solid fa-search"></i> Search Question</a></li>
                <li class="list"><a routerLink="/userhomepage/createdquestion"><i class="fa-solid fa-lightbulb"></i> Created Question</a></li>
                <li class="list"><a routerLink="/userhomepage/usertouserchat"><i class="fa-solid fa-message"></i> Chat with us</a></li>
                <li class="list" id="btn" (click)="sign_out()"><a>Sign Out</a></li>
                <!-- todo -->
                <li class="list user-type">USER</li>
            </ul>
        </div>
    </div>
    <div>
        <!-- <div>
            <h1>User Home Page</h1>
        </div> -->
        <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="animate-charcter">USER HOME PAGE</h3>
            </div>
        </div>
        </div>
    </div>
    <footer class="footer-div">
        <ul class="footer">
            <li>Abdulkerim Mohammed</li>
            <li>Prajesh Sharma</li>
            <li>Khoa Ho</li>
        </ul>
        <p>2023 Copy Right ©</p>
    </footer>
</body>
