<body>

<h1>Pending Question</h1>

<table style="width:100%">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Topic</th>
    <th>Title</th>
    <th>Description</th>
    <th>Created By</th>
    <th>Date Time</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>Place holder</td>
    <td><img src="https://i.kym-cdn.com/entries/icons/original/000/037/291/chucover.jpg" width="100" height="75"></td>
    <td>Chupapi Munenyo</td>
    <td>foo</td>
    <td>bar</td>
    <td>bicho taso</td>
    <td>chumommy</td>
    <td>Muñyayño</td>
  </tr>
</table>

</body>
