<body>
    <div class="header">
        <div class="header-left" id="logo">
            <ul>
                <li class="logo">DoConnect Admin<i class="fa-solid fa-badge"></i> </li>
            </ul>
        </div>
        <div class="header-right">
            <ul>
                <!-- <li class="list"><a routerLink="/adminhomepage"><i class="fa-solid fa-house"></i> Dashboard</a></li> -->
                <li class="list"><a href="" routerLink="pendingquestion"><i class="fa-solid fa-question"></i>Pending Questions</a></li>
                <li class="list"><a href="" routerLink="pendinganswer"><i class="fa-solid fa-lightbulb"></i>Pending Answers</a></li>
                <li class="list"><a href="" routerLink="/adminhomepage/usertouserchat"><i class="fa-solid fa-message"></i> Message</a></li>
                <li class="list" id="btn" (click)="signout()" routerLink="/adminlogin"><a href="">Sign Out</a></li>
                <!-- todo -->
                <li class="list user-type">ADMIN</li>
            </ul>
        </div>
    </div>
    <div class="body-container">
        <div>
            <h1>Admin Home Page</h1>
        </div>
    </div>
    <footer class="footer-div">
        <ul class="footer">
            <li>Abdulkerim Mohammed</li>
            <li>Prajesh Sharma</li>
            <li>Khoa Ho</li>
        </ul>
        <p>2023 Copy Right ©</p>
    </footer>
</body>