<body>
    <div class="header">
        <div class="header-left" id="logo">
            <ul>
                <li class="logo">DoConnect<span class="user-type"> Admin </span><i class="fa-solid fa-person-circle-question"></i> </li>
            </ul>
        </div>
        <div class="header-right">
            <ul>
                <!-- <li class="list"><a routerLink="/adminhomepage"><i class="fa-solid fa-house"></i> Dashboard</a></li> -->
                <li class="list"><a href="" routerLink="pendingquestion"><i class="fa-solid fa-question"></i>Pending
                        Questions</a></li>
                <li class="list"><a href="" routerLink="pendinganswer"><i class="fa-solid fa-lightbulb"></i>Pending
                        Answers</a></li>
                <!-- <li class="list"><a href="" routerLink="/adminhomepage/usertouserchat"><i
                            class="fa-solid fa-message"></i> Message</a></li> -->
                <li class="list" id="btn" (click)="signout()"><a>Sign Out</a></li>
                <!-- todo -->
                <li class="list user-type">admin</li>
            </ul>
        </div>
    </div>
    <div class="body-container">
        <div>
            <h1>Admin Home Page</h1>
        </div>
    </div>
    <div class="container">
        <div class="created-questions">
            <h2>Created Question</h2>
            <p *ngIf="isNullQ"><strong>[No questions]</strong></p>
        </div>
        <div>
            <ul>
                <li *ngFor="let question of questions">
                    <img src="assets/question_images/{{question.imageSrc}}" height="150" alt="Question Image">
                    <p><strong>Title: </strong>
                        {{ question.title }}
                    </p>
                    <p><strong>Topic: </strong>
                        {{ question.topic }}
                    </p>
                    <p><strong>Description: </strong>
                        {{ question.descriptionQuestion }}
                    </p>
                    <p><strong>Created By: </strong> {{ question.qcreated_by }}</p>
                    <button class="btn1" (click)="showAnswers(question.id)">Answers</button>
                    <button class="btn2" (click)="removeQuestion(question.id)">Delete</button>
                    <div class="answer-inner-container">
                <li *ngIf="answerVisible">
                    <div>
                        <strong>List of answers:</strong>
                        <p *ngIf="isNull">[No answers]</p>
                    </div>
                    <ul *ngFor="let answer of answers">
                        <li><img src="assets/answer_images/{{answer.img_src}}" alt=""></li>
                        <li><strong>Answer ID:</strong> {{answer.id}}</li>
                        <li><strong>Solution:</strong> {{answer.description_answer}}</li>
                        <li><strong>Created on:</strong> {{answer.datetime}}</li>
                        <li><strong>Written by:</strong> {{answer.created_by}}</li>
                        <li><button class="btn2" (click)="removeAnswer(answer.id)">Delete</button></li>
                    </ul>
                    <button class="btn1" (click)="collapseList()">Hide</button>
                </li>
        </div>
        </li>
        </ul>
    </div>
    </div>
    <footer class="footer-div">
        <ul class="footer">
            <li>Abdulkerim Mohammed</li>
            <li>Prajesh Sharma</li>
            <li>Khoa Ho</li>
        </ul>
        <p>2023 Copy Right ©</p>
    </footer>
</body>