<!-- <body>
    <div>
        <div>
            <h2>Answer</h2>
        </div>
        <div class="container">

        </div>
    </div>
</body> -->

<body>
  <div class="header">
    <div class="header-left" id="logo">
      <ul>
        <li class="logo">DoConnect <i class="fa-solid fa-badge"></i> </li>
      </ul>
    </div>
    <div class="header-right">
      <ul>
        <li class="list"><a href=""><i class="fa-solid fa-house"></i> Dashboard</a></li>
        <li class="list"><a href=""><i class="fa-solid fa-question"></i> Create Question</a></li>
        <li class="list"><a href=""><i class="fa-solid fa-lightbulb"></i> Search Question</a></li>
        <li class="list"><a href=""><i class="fa-solid fa-message"></i> Chat with us</a></li>
        <li class="list" id="btn"><a href="">Sign Out</a></li>
        <!-- todo -->
        <li class="list user-type">user</li>
      </ul>
    </div>
  </div>
  <div>
    <div>
      <h1>Approved Answer</h1>
    </div>
    <div class="container">
      <ul>
        <li>
          <!-- <li *ngFor="let answer of approvedAnswer" </li> -->
          <img src="assets/images/hulk.jpg" width="200" height="150" alt="hulk">
          <p><strong>Title: this is title</strong><br>
          <p><strong>Created By:<b>Priya</b> </strong>
          <p><strong>Created By: <b>12/29/2022, 9:14:33 AM </b></strong>
          <p><strong>Approved By Admin<br></strong></p>
          <a href="hulk.jpg" download>
            <button>Click to Download</button>
          </a>
        </li>
        <li>
          <!-- <li *ngFor="let answer of approvedAnswer" </li> -->
          <img src="assets/images/hulk.jpg" width="200" height="150" alt="hulk">
          <p><strong>Title: this is title</strong><br>
          <p><strong>Created By:<b>Priya</b> </strong>
          <p><strong>Created By: <b>12/29/2022, 9:14:33 AM </b></strong>
          <p><strong>Approved By Admin<br></strong></p>
          <a href="hulk.jpg" download>
            <button>Click to Download</button>
          </a>
        </li>
        <li>
          <!-- <li *ngFor="let answer of approvedAnswer" </li> -->
          <img src="assets/images/hulk.jpg" width="200" height="150" alt="hulk">
          <p><strong>Title: this is title</strong><br>
          <p><strong>Created By:<b>Priya</b></strong>
          <p><strong>Created By: <b>12/29/2022, 9:14:33 AM</b></strong>
          <p><strong>Approved By Admin<br></strong></p>
          <a href="hulk.jpg" download>
            <button>Click to Download</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <footer class="footer-div">
    <ul class="footer">
      <li>Abdulkerim Mohammed</li>
      <li>Prajesh Sharma</li>
      <li>Khoa Ho</li>
    </ul>
    <p>2023 Copy Right ©</p>
  </footer>
</body>
