<!-- <app-admin-login></app-admin-login>
 <app-admin-sign-up></app-admin-sign-up>
<app-admin-register-and-login></app-admin-register-and-login>
<app-create-new-question></app-create-new-question>
<app-user-login></app-user-login>
<app-user-sign-up></app-user-sign-up>
 <app-user-register-and-login></app-user-register-and-login> -->

<!-- <app-home></app-home> -->
<router-outlet></router-outlet>
 <!-- <app-approved-answer></app-approved-answer>
<app-pending-question></app-pending-question>
<app-pending-answer></app-pending-answer>
<app-search-question></app-search-question>
<app-created-question></app-created-question> -->