<body>
    <div class="header">
        <div class="header-left" id="logo">
            <ul>
                <li class="logo">DoConnect <i class="fa-solid fa-badge"></i> </li>
            </ul>
        </div>
        <div class="header-right">
            <ul>
                <li class="list"><a routerLink="/userhomepage"><i class="fa-solid fa-house"></i> Dashboard</a></li>
                <li class="list"><a routerLink="/userhomepage/createquestion"><i class="fa-solid fa-question"></i> Ask Question</a></li>
                <li class="list"><a routerLink="/userhomepage/searchquestion"><i class="fa-solid fa-search"></i> Search Question</a>
                </li>
                <li class="list"><a routerLink="/userhomepage/usertouserchat"><i class="fa-solid fa-message"></i> Chat with us</a></li>
                <li class="list" id="btn"><a routerLink="/home/userlogin">Sign Out</a></li>
                <!-- todo -->
                <li class="list user-type">user</li>
            </ul>
        </div>
    </div>
    <div>
        <div>
            <h1>Created Question</h1>
        </div>
        <div class="container">
            <ul>
                <li *ngFor="let question of questions">
                    <!-- <img {src}="assets/images/java.png" height="150" alt="Image"> -->
                    <img [src]="question.imageSrc" alt="Question Image">
                    <p><strong>Title: </strong>
                       {{ question.title }}
                    </p>
                    <p><strong>Topic: </strong>
                      {{ question.topic }}
                    </p>
                    <p><strong>Description: </strong>
                    {{ question.descriptionQuestion }}
                    </p>
                    <p><strong>Created By: </strong> {{ question.qcreated_by }}</p>
                    <button (click)="listOfAnswer(question.id)">Answers</button>
                    <button>Add Answer</button>
                </li>
            </ul>
        </div>
        <div *ngIf="showForm" class="answer-form-container">
            <form novalidate #answerform="ngForm" (ngSubmit)="onSubmit(answerform)">
                <div class="answer-form">
                    <label for="description_answer">Answer:</label>
                    <textarea name="description_answer" [(ngModel)]="model.description_answer" required></textarea>
                </div>
                <div>
                    <label for="img_src">Image:</label>
                    <input type="file" (change)="onFileSelected($event)" required>
                </div>
                <button [disabled]="answerform.invalid" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <footer class="footer-div">
        <ul class="footer">
            <li>Abdulkerim Mohammed</li>
            <li>Prajesh Sharma</li>
            <li>Khoa Ho</li>
        </ul>
        <p>2023 Copy Right ©</p>
    </footer>
</body>
