<body>
    <!-- header -->
    <div class="header">
        <div class="header-left" id="logo">
            <ul>
            <li class="logo">DoConnect <span class="user-type">Admin </span><i class="fa-solid fa-person-circle-question" style="color: #505558;"></i> </li>
            </ul>
        </div>
        <div  class="header-right">
            <ul>
                <li class="list"><a href=""><i class="fa-solid fa-house"></i> Dashboard</a></li>
                <li class="list"><a href=""><i class="fa-solid fa-question"></i> Pending Question</a></li>
                <li class="list"><a href=""><i class="fa-solid fa-lightbulb"></i> Pending Answer</a></li>
                <li class="list" id="btn"><a href="">Sign Out</a></li>
                <li class="list user-type">admin</li>
            </ul>
        </div>
    </div>
    <!-- form -->
    <div> 
        <div>
            <h2>Admin Log In</h2>
        </div>
        <div class="container">
            <form novalidate #adminform='ngForm' (ngSubmit)="onSubmit(adminform)">
                <div class="register-form">
                    <label for="email">Email</label><br>
                    <input type="email" [(ngModel)]='model.email' name="email" required><br>
                </div>
                <div>
                    <label for="password">Password</label><br>
                    <input type="password" [(ngModel)]='model.password' name="password" required><br>
                </div>
                <button [disabled]="adminform.invalid" (click)="login()" type="submit">Log In</button>
            </form>
        </div>
    </div>
     <footer class="footer-div">
        <ul class="footer">
            <li>Abdulkerim Mohammed</li>
            <li>Prajesh Sharma</li>
            <li>Khoa Ho</li>
        </ul>
        <p>2023 Copy Right ©</p>
    </footer>
</body>
