<body>
    <!-- header -->
    <div class="header">
        <div class="header-left" id="logo">
            <ul>
                <li class="logo">DoConnect <span class="user-type">User </span><i class="fa-solid fa-user"></i> </li>
            </ul>
        </div>
        <div class="header-right">
            <ul>
                <li class="list"><a href="/userhomepage"><i class="fa-solid fa-house"></i> Dashboard</a></li>
                <li class="list"><a routerLink="/userhomepage/createquestion"><i class="fa-solid fa-question"></i> Ask Question</a></li>
                <li class="list"><a routerLink="/userhomepage/createdquestion"><i class="fa-solid fa-lightbulb"></i> Created
                        Question</a></li>
                <li class="list"><a routerLink="/userhomepage/usertouserchat"><i class="fa-solid fa-message"></i> Chat with us</a></li>
                <li class="list" id="btn"><a routerLink="/home/userlogin">Sign Out</a></li>
                <li class="list user-type">user</li>
            </ul>
        </div>
    </div>
    <!-- form -->
    <div>
        <div>
            <h2>Search Question</h2>
        </div>
        <div class="container">
            <form novalidate #searchform='ngForm' (ngSubmit)="onSubmit()">
                <label for="topic">Search the question: </label>
                <select name="topic" id="topic" [(ngModel)]="topic" required>
                    <option value="" disabled selected>Pick a Topic</option>
                    <option value="Java">Java</option>
                    <option value="C">C</option>
                    <option value="C#">C#</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Angular">Angular</option>
                    <option value="SpringBoot">SpringBoot</option>
                </select>
                <input type="text" placeholder="What is the title?" name="title" [(ngModel)]="title" required>
                <button [disabled]="searchform.invalid" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div *ngIf="onVisible">
        <table class="table">
            <thead>
                <th>ID</th>
                <th>Topic</th>
                <th>Title</th>
                <th>Description</th>
                <th>Action</th>
            </thead>
            <tbody *ngFor="let question of searchedQuestions">
                <tr>
                    <td>{{question.id}}</td>
                    <td>{{question.topic}}</td>
                    <td>{{question.title}}</td>
                    <td>{{question.descriptionQuestion}}</td>
                    <td>
                        <button (click)="showDetails(question.id, question.qcreated_by)">Show details</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="footer-div">
        <ul class="footer">
            <li>Abdulkerim Mohammed</li>
            <li>Prajesh Sharma</li>
            <li>Khoa Ho</li>
        </ul>
        <p>2023 Copy Right ©</p>
    </footer>
</body>