<div>
   <form action="">
    <label for="">Search the question: </label>
    <select name="topic" id="topic">
        <option value="Java">Java</option>
        <option value="C">C</option>
        <option value="C#">C#</option>
        <option value="JavaScript">JavaScript</option>
        <option value="Angular">Angular</option>
        <option value="SpringBoot">SpringBoot</option>
    </select>
    <input type="text" placeholder="What is the title?">
    <button>Search</button>
   </form>
</div>
