<body>
  <div class="header">
    <div class="header-left" id="logo">
      <ul>
        <li class="logo">DoConnect <span class="user-type">Admin </span><i class="fa-solid fa-person-circle-question"
            style="color: #505558;"></i> </li>
      </ul>
    </div>
    <div class="header-right">
      <ul>
        <li class="list"><a href="" routerLink="/adminhomepage"><i class="fa-solid fa-house"></i> Admin Home</a></li>
        <li class="list"><a href="" routerLink="/adminhomepage/pendingquestion"><i class="fa-solid fa-question"></i> Pending Question</a></li>
        <!-- <li class="list"><a href="" routerLink="/adminhomepage/usertouserchat"><i class="fa-solid fa-message"></i> Mesage</a></li> -->
        <li class="list" id="btn" (click)="sign_out()"><a>Sign Out</a></li>
        <li class="list user-type">admin</li>
      </ul>
    </div>
  </div>
  <div class="body-container">
    <div>
      <h1>Pending Answer</h1>
      <h3 *ngIf="isANull">[No pending answers]</h3>
    </div>
    <div *ngIf="answerExist" class="container">
      <table style="width:100%">
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Description</th>
          <th>Created By</th>
          <th>Date Time</th>
          <th>Action</th>
        </tr>
        <tbody *ngFor="let answer of pendingAnswers">
        <tr>
          <td>{{answer.id}}</td>
          <td><img src="assets/answer_images/{{answer.img_src}}" height="200" alt="answer_image"></td>
          <td>{{answer.description_answer}}</td>
          <td>{{answer.created_by}}</td>
          <td>{{answer.datetime}}</td>
          <td>
            <button class="approve" (click)="approveAnswer(answer.id)">Approve</button><br>
            <button class="delete" (click)="removeAnswer(answer.id)">Remove</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
    <footer class="footer-div">
      <ul class="footer">
        <li>Abdulkerim Mohammed</li>
        <li>Prajesh Sharma</li>
        <li>Khoa Ho</li>
      </ul>
      <p>2023 Copy Right ©</p>
    </footer>
</body>
