body {
  background: lightblue;
  background: linear-gradient(#f6f9fc, lightblue);
  font-family: Roboto, sans-serif;
}

table, td {
  border:1px solid black;
  border-collapse: collapse;
}

th {
  background-color: black;
  color: white;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
tr:nth-child(odd) {
  background-color: lightblue;
}

h1 {
  font-size: 36px;
  margin: 50px 0 0;
  font-weight: normal;
  text-align: center;
}


